
body {
  background-color: #F3F3F3;
  margin: calc(100% * 0.05) calc(100% * 0.11)  0 calc(100% * 0.11);
}

.flex-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;


}

.flex-item-left {
  display: flex;
  flex-wrap: wrap;
  width: 28%;
}

.flex-item-right {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
}

h3 {
  font-family: Montserrat;
  color: #4F4F4F;
}

p {
  font-family: Montserrat;
  font-size: 14px;
  color: #828282;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
  margin-bottom: 25px;
}

.flex-item-left .card {
  padding: 20px;
}

#avatar {
  width: 100%;
}

.flex-item-right .card {
  padding: 20px;
}

#project-card-img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 180px;
}

#project-card {
  display: flex;
  flex-wrap: wrap;
}

.flex-project-card {
  display: flex;
  align-items: center;
}

.flex-card-left {
  width: 28%;
  text-align: center;
}

.flex-card-right {
  width: 68%;
  padding-left: 15px;
}
