
body {
  background-color: #EAEAEA;
  margin: calc(100% * 0.05) calc(100% * 0.11)  0 calc(100% * 0.11);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;


}

.flex-item-left {
  display: flex;
  flex-wrap: wrap;
  width: 28%;
}

.flex-item-right {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
}

h3 {
  font-family: Montserrat;
  color: #4F4F4F;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
  margin-bottom: 25px;
}

.flex-item-left .card {
  padding: 20px;
}

#avatar {
  width: 100%;
}

.flex-item-right .card {
  padding: 20px;
}
