
body {
  background-color: #F6F6F6;
  margin: calc(100% * 0.05) calc(100% * 0.1)  0 calc(100% * 0.1);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* position: center; */

}

.flex-item-left {
  width: 30%;
}

.flex-item-right {
  width: 70%;
}

.card {
  background-color: #fff;
  width: 80%;
  padding: 15px;
}

#avatar {
  width: 100%;
}
